fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
requests
pandas
numpy
yfinance
beautifulsoup4
chromadb
ollama
tqdm
pypdf
langchain
langchain-community
langchain-ollama
langchain-experimental
langchain-chroma
playwright
python-dotenv
wordcloud
pytest
pytest-asyncio
plotly
torch
transformers
trafilatura
pytz
curl-cffi
